<ion-view title="Add skill">
	<ion-content class="padding">
		<form class="list">
            <label class="item item-input" name="It's name">
                <span class="input-label">Skill name</span>
                <input type="text" placeholder="It's name">
            </label>
            <label class="item item-select">
                <span class="input-label">choose category</span>
                <select></select>
            </label>
            <ion-item class="item-divider">Free time - Days</ion-item>
            <ion-list>
                <ion-checkbox>Satarday</ion-checkbox>
                <ion-checkbox>Sunday</ion-checkbox>
                <ion-checkbox>Monday</ion-checkbox>
                <ion-checkbox>Tuesday</ion-checkbox>
                <ion-checkbox>Wednesday</ion-checkbox>
                <ion-checkbox>Thursday</ion-checkbox>
                <ion-checkbox>Friday</ion-checkbox>
            </ion-list>
            <ion-item class="item-divider">Free time - Hours</ion-item>
            <label class="item item-input" name="Details and tips">
                <span class="input-label">Details and tips:</span><textarea placeholder="Details and tips:"> </textarea>
            </label>
            <button id="addSkill-button20" style="font-weight:bold;" class="button button-stable  button-block">Post</button>
        </form>
	</ion-content>
</ion-view>