<ion-view title="Add stuff">
<ion-content class="padding">
	<form class="list">
        <label class="item item-input" name="It's name">
            <span class="input-label">It's name</span>
            <input type="text" placeholder="It's name">
        </label>
        <label class="item item-select">
            <span class="input-label">choose category</span>
            <select></select>
        </label>
        <ion-item class="item-divider">Offer:</ion-item>
        <ion-radio name="Unreturned">Unreturned</ion-radio>
        <ion-radio>Limited</ion-radio>
        <label class="item item-input" name="Details and tips">
            <span class="input-label">Details and tips:</span><textarea placeholder="Details and tips:"> </textarea>
        </label>
        <button id="addStuff-button11" class="button button-balanced  button-block">Capture photo</button>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <button id="addStuff-button18" style="font-weight:bold;" class="button button-stable  button-block">Post</button>
    </form>
</ion-content>
</ion-view>