<ion-view title="Add stuff">
<ion-content class="padding">
	<form class="list">
        <label class="item item-input" name="It's name" style="border-color: #E2B0B1;" >
            <span class="input-label" >It's name</span>
            <input type="text" placeholder="It's name" ng-model="stuff.name">
        </label>
        <!-- {{stuff.name}} -->
        <label class="item item-select" style="border-color: #E2B0B1;">
            <span class="input-label" >choose category</span>
            <select ng-model="stuff.category">
                <option ng-repeat="category in categories">{{category}}</option>
            </select>
        </label>
        <!-- {{stuff.category}} -->
        <ion-item class="item-divider" style="border-color: #E2B0B1; background-color: #FFF0F1;">Offer:</ion-item>

        <ion-radio ng-model="stuff.type" ng-value="'forfree'" style="border-color: #E2B0B1; ">Unreturned</ion-radio>
        <ion-radio ng-model="stuff.type" ng-value="'fordate'" style="border-color: #E2B0B1;">Limited
        </ion-radio>

        <label class="item item-input" ng-if="stuff.type=='fordate'"  style="border-color: #E2B0B1;">
          <span class="input-label">Didline date</span>
          <input type="date" ng-model="stuff.date">
        </label>
        <!-- {{stuff.date}}
        {{stuff.type}} -->
        <label class="item item-input" name="Details and tips" style="border-color: #E2B0B1;">
            <span class="input-label">Details and tips:</span><textarea placeholder="Details and tips:" ng-model="stuff.details"> </textarea>
        </label>
       <button ng-click="showActionSheet()" class="button button-block button-positive button-outline">
            <i class="icon ion-images"></i>
           Take Photo
       </button>
       <img ng-src="{{lastPhoto}}" style="max-width: 100%">
        <button style="font-weight:bold;" class="button button-positive  button-block" ng-click="postStuff(stuff)">Post</button>

    </form>
<!--     <button class="button button-stable " ng-click="sheckFeilds()">sheckFeilds</button>
 --></ion-content>
</ion-view>
